* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 10px 15px;
}


.hero-wrapper {
    padding: 30px 0;
    background-size: 120% 120%;
    background-repeat: no-repeat;
    max-width: 100%;

    background: radial-gradient(ellipse at top right,
            #067593 0%,
            transparent 40%),
        #ffffff;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    flex-wrap: wrap;
    gap: 15px;
}

header img {
    height: 42px;
}

.nav {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

header a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}


.btn {
    margin-left: 10px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #067593;
    border: none;
    border-radius: 30px;
    color: white;

}

.nav a.active {
    color: #067593 !important;
    font-weight: bold;
}

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    gap: 30px;
    flex-wrap: wrap;
}

.hero-left {
    flex: 1;
}

.hero-left h1 {
    font-size: 45px;
    line-height: 1.2;
}

.hero-left span {
    color: #067593;
    font-size: 35px;
}

.hero-left p {
    margin: 20px 0;
    color: #555;
}

.hero-btn {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.hero-btn button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: #067593;
    color: white;
}

.hero-btn img {
    width: 20px;
}

.main-img {
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
}

.hero-right {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-right img {
    width: 100%;
    max-width: 450px;
}

.card-info {
    position: absolute;
    bottom: 180px;
    left: 20px;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    width: 180px;
    font-size: 14px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

.box {
    position: absolute;
    bottom: 70px;
    left: 0;
    padding: 5px 10px;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

.avatars {
    position: absolute;
    bottom: -30px;
    left: 47%;
    transform: translateX(-50%);
    width: 180px !important;
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
    }

    .nav {
        justify-content: center;
    }

    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-left h1 {
        font-size: 32px;
    }

    .hero-left span {
        font-size: 24px;
    }

    .hero-btn {
        justify-content: center;
    }

    .hero-btn button {
        width: 100%;
        justify-content: center;
    }

    .hero-icon {
        justify-content: center;
    }

    .card-info {
        width: 160px;
        bottom: 120px;
        left: 10px;
    }

    .box {
        left: 10px;
    }

    .avatars {
        width: 120px !important;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .hero-section {
        gap: 20px;
    }

    .hero-left h1 {
        font-size: 38px;
    }

    .hero-left span {
        font-size: 30px;
    }

    .hero-left p {
        font-size: 16px;
    }

    .hero-btn button {
        padding: 10px 18px;
        font-size: 14px;
    }

    .main-img {
        max-width: 380px;
    }

    .card-info {
        width: 170px;
        bottom: 150px;
    }

    .avatars {
        width: 150px !important;
    }
}

.services {
    padding: 80px 10px;
}


.services .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    position: relative;
    width: 23%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.img-box {
    position: relative;
    height: 300px;
    perspective: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     overflow: visible;
     z-index: 1;
}

.shape {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 10%;
    left: 5%;
    background: linear-gradient(180deg, #0b3c5d, #0aa1b0);
    border-radius: 12px;
    transform: rotateY(-90deg) rotateX(15deg);
    z-index: 1;
}
.img-box img {
    position: relative;
    width: 100%;
    max-width: 220px;
    transform:translateX(20%) ;
    z-index: 2;
    object-fit: contain;
}

.content {
    position: absolute;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    background: #fff;
    padding: 12px 15px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.content h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.content button {
  
    padding: 6px 14px;
    border: none;
    border-radius: 20px;
    background: #0aa1b0;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.parenting {
    text-align: center;
    margin: 60px auto;
    max-width: 760px;
}

.parenting h1 {
    font-size: 32px;
    line-height: 1.3;
}

.parenting span {
    color: #067593;
}

.parenting p {
    margin: 20px 0;
    color: #555;
    line-height: 1.7;

}
.parenting button {
    padding: 10px 20px;
    background: #067593;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

@media (max-width: 1024px) {

    .card {
        width: 45%;
    }

    .parenting h1 {
        font-size: 32px;
    }
}

@media (max-width: 768px) {

    .services {
        padding: 50px 0;
    }

    .services .container {
        gap: 40px;
    }

    .card {
        width: 100%;
    }

    .img-box {
        height: 240px;
    }

    .img-box img {
        max-width: 180px;
    }

    .content {
        width: 160px;
    }

    .parenting {
        margin-top: 40px;
        padding: 0 10px;
    }

    .parenting h1 {
        font-size: 26px;
    }

    .parenting p {
        font-size: 15px;
    }
}

.set-section {
    padding: 80px 0;
}

.set-part {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}


.talent-image {
    position: relative;
    width: 50%;
    height: 350px;
}

.img-box1 {
    position: absolute;
    border-radius: 20px;
    overflow: hidden;
    background: linear-gradient(180deg, #0b3c5d, #0aa1b0);
    object-fit: cover;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.img-box1 img {
    position: absolute;
    border-radius: 20px;
    object-fit: cover;
}

.small {
    width: 160px;
    height: 150px;
    left: 0;
    top: 70px;
    z-index: 1;
}

.medium {
    width: 180px;
    height: 200px;
    left: 120px;
    top: 40px;
    z-index: 2;
}

.large {
    width: 220px;
    height: 260px;
    left: 240px;
    top: 0;
    z-index: 3;
}

.talent-content {
    flex: 1;
}

.talent-image {
    position: relative;
    flex: 1;
    min-height: 400px;
}

.talent-content h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.talent-content span {
    color: #067593;
}

.talent-content p {
    color: #555;
    margin-bottom: 40px;
    line-height: 1.6;
}

.talent-content button {
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
    background: #0b5c6b;
    color: white;
    cursor: pointer;
    margin-bottom: 50px;
}

@media (max-width: 1024px) {

    .set-part {
        gap: 30px;
    }

    .talent-content h2 {
        font-size: 34px;
    }

    .large {
        width: 200px;
        height: 250px;
        left: 220px;
    }

    .medium {
        width: 180px;
        height: 220px;
    }
}

@media (max-width: 768px) {

    .set-part {
        flex-direction: column;
        text-align: center;
    }

    .talent-image {
        width: 100%;
        min-height: 350px;
    }

    .small {
        width: 120px;
        height: 130px;
        left: 10px;
        top: 120px;
    }

    .medium {
        width: 150px;
        height: 180px;
        left: 90px;
        top: 70px;
    }

    .large {
        width: 180px;
        height: 230px;
        left: 180px;
        top: 20px;
    }

    .talent-content {
        width: 100%;
    }

    .talent-content h2 {
        font-size: 28px;
    }

    .talent-content p {
        font-size: 15px;
    }
}

.clint .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 80px 0;
}

.clint-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.clint-left h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.clint-left span {
    color: #0aa1b0;
}

.clint-left p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 500px;
}

.clint-left img {
    width: 100px;
    height: auto;
    opacity: 0.6;

}
.clint-right {
    flex: 1.7;
    background: #fff;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    position: relative;
}

.clint-right>img {
    width: 40px;
    margin-bottom: 15px;
}

.clint-right p {
    color: #333;
    line-height: 1.7;
    font-style: italic;
}

.users {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.users img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.users h4 {
    font-size: 16px;
    margin-bottom: 5px;
}

.users span {
    font-size: 14px;
    color: #777;
}

@media (max-width: 1024px) {

    .clint .container {
        gap: 30px;
    }

    .clint-left h2 {
        font-size: 30px;
    }

    .clint-right {
        flex: 1;
        padding: 25px;
    }
}

@media (max-width: 768px) {

    .clint .container {
        flex-direction: column;
        text-align: center;
        padding: 50px 0;
    }

    .clint-left p {
        max-width: 100%;
    }

    .clint-left img {
        width: 80px;
        margin: auto;
    }

    .clint-right {
        width: 100%;
        padding: 20px;
    }

    .clint-right>img {
        width: 30px;
        margin: auto;
    }

    .users {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .users img {
        width: 60px;
        height: 60px;
    }
}

.partners {
    padding: 80px 20px;
    text-align: center;
}

.partners h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.partners h2 span {
    color: #0aa1b0;
}

.logo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 20px;
    align-items: center;
}
.logo-grid img {
    width: 100%;
    max-width: 140px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: 0.3s ease;
    filter: grayscale(100%);
    object-fit: contain;
    height: 90px;
}

@media (max-width: 1024px) {

    .partners h2 {
        font-size: 28px;
    }

    .logo-grid {
        gap: 15px;
    }
}

@media (max-width: 768px) {

    .partners {
        padding: 50px 15px;
    }

    .partners h2 {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .logo-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .logo-grid img {
        max-width: 120px;
        height: 80px;
        padding: 12px;
    }
}

.social-section {
    padding: 80px 0;
}

.social-section .container {
    width: 90%;
    margin: auto;
}

.social-section h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.social-section h2 span {
    color: #0aa1b0;
}

.social-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.social-card {
    background: #fff;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 20px 25px 25px rgba(0, 0, 0, 0.08);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.user {
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.user h4 {
    font-size: 14px;
    margin: 0;
}

.user small {
    font-size: 11px;
    color: gray;
}

.insta {
    width: 22px;
}

.post-img {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
    margin: 10px 0;
}

.caption {
    font-size: 13px;
    line-height: 1.4;
    color: #333;
}

.caption span {
    color: #0aa1b0;
    font-weight: 600;
}

@media (max-width: 1024px) {

    .social-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .social-section h2 {
        font-size: 32px;
    }
}

@media (max-width: 768px) {

    .social-section {
        padding: 50px 0;
    }

    .social-grid {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .social-section h2 {
        font-size: 26px;
    }

    .social-card {
        padding: 12px;
    }

    .post-img {
        height: 160px;
    }

    .user h4 {
        font-size: 13px;
    }

    .caption {
        font-size: 12px;
    }
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;

}

.brand-col {
    flex: 1;
    text-align: center;
}

.footer-logo {
    max-width: 200px;
    margin-bottom: 20px;
}

.social-text {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
}

.social-icons img {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px;
    text-decoration: none;
}

.address-section {
    margin-top: 100px;
    text-align: center;
}

.address-section h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.address-section p {
    font-size: 14px;
    color: #555;

}

.nav-col {
    display: flex;
    flex: 1;
    gap: 30px;
}

.vertical-text-wrapper {
    display: flex;
    align-items: center;
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 42px;
    color: #333;
}

.divider {
    width: 1px;
    height: 90%;
    background: #008CBA;
    margin-left: 10px;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin-bottom: 35px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;

}

.nav-links a.active {
    color: #008CBA;
}

.form-col {
    flex: 2;
}

.form-col h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

.input-group {
    margin-bottom: 10px;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid #008CBA;
    padding: 10px 0;
    outline: none;
    font-size: 16px;
}

.submit-btn {
    background: #004f6d;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.card {
    position: relative;
    width: 23%;
    height: 350px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-box {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.shape {
    position: absolute;
    width: 90%;
    height: 90%;
    background: linear-gradient(180deg, #0b3c5d, #0aa1b0);
    border-radius: 20px;
    transform: perspective(1000px) rotateY(-25deg) rotateX(10deg);
    z-index: 1;
}

.img-box img {
    position: relative;
    height: 280px;
    width: auto;
    z-index: 2;
    object-fit: contain;
    margin-left: -20px;
}

@media (max-width: 1024px) {

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .nav-col {
        justify-content: center;
    }

    .vertical-text {
        font-size: 30px;
    }

    .form-col {
        width: 100%;
    }
}

@media (max-width: 768px) {

    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .footer-logo {
        max-width: 150px;
    }

    .vertical-text {
        display: none;
       
    }

    .divider {
        display: none;
    }

    .nav-links li {
        margin-bottom: 15px;
    }

    .form-col h2 {
        font-size: 22px;
    }

    .submit-btn {
        width: 100%;
        justify-content: center;
        font-size: 16px;
    }
}


/* _____________________________________________--------------------------______________________________ */



.why-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 80px 0;
}
.why-text {
    flex: 1;
}

.why-text h1 {
    font-size: 42px;
    margin-bottom: 20px;
    max-width: 300px;
}

.why-text span {
    color: #0aa1b0;
}

.why-text p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 25px;
    max-width: 400px;
}

.why-text button {
    background: #0aa1b0;
    color: #fff;
    border: none;
    padding: 12px 22px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.why-text button img {
    width: 18px;
}

.why-image {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
}


.card2 {
    text-align: center;
    overflow: visible;
}

.img-box2 {
    position: relative;
    height: 160px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 2;
}

.shape2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0b3c5d, #0aa1b0);
    border-radius: 14px;
    left: 0;
    top: 0;
    transform: perspective(1000px) rotateY(-55deg) rotateX(5deg);
    z-index: 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.img-box2 img {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 140px;
    width: auto;
    object-fit: contain;
    z-index: 2;
}

.content2 {
    position: relative;
    margin: -40px 20px 0;
    width: 130px;
    background: #fff;
    padding: 10px 5px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    z-index: 3;
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
}


.content2 h4 {
    margin-bottom: 10px;
    font-size: 15px;
}

.content2 button {
    padding: 6px 14px;
    border: none;
    background: #0aa1b0;
    color: white;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
}

.content button {
    margin-top: 8px;
}

@media (max-width: 1024px) {

    .why-hero {
        gap: 40px;
    }

    .why-text h1 {
        font-size: 36px;
    }
}
@media (max-width: 768px) {

    .why-hero {
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .why-text p {
        max-width: 100%;
    }

    .why-text h1 {
        max-width: 100%;
        font-size: 28px;
    }

    .why-image {
        grid-template-columns: 1fr;
    }

    .card2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content2 {
        margin-top: -30px;
    }
}

.tta-talent-section {
    padding: 40px 25px;

}

.tta-talent-section .container {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}

.image-wrapper {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 420px;
}

.blue-bg-shape {
    position: absolute;
    width: 70%;
    height: 55%;
    background-color: #00A9C1;
    border-radius: 20px;
    top: 40px;
    left: -5%;
    z-index: 1;
}

.blue-bg-shape2 {
    position: absolute;
    width: 75%;
    height: 62%;
    background-color: #00A9C1;
    border-radius: 20px;
    top: 40px;
    right: -5%;
    z-index: 1;
}

.main-img3 {
    position: relative;
    width: 100%;
    max-width: 420px;
    border-radius: 20px;
    z-index: 2;
}

.info-tag-box {
    background-color: #004F6D;
    color: white;
    padding: 30px 20px;
    border-radius: 12px;
    font-size: 18px;
    margin-top: 80px;
    z-index: 3;
    width: 100%;
    max-width: 420px;
}

.content-wrapper {
    flex: 1;
}

.title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.title span {
    color: #00A9C1;
}

.description {
    line-height: 1.6;
    color: #555;
    margin-bottom: 30px;
    font-size: 15px;
}
.small-gallery {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.small-gallery img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
}

.book-btn {
    background-color: #004F6D;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.corporate-section .container {
    flex-direction: row;

}


.corporate-section .blue-bg-shape {
    left: auto;
    right: -20px;
    background-color: #004F6D;

}

.corporate-section .title span {
    color: #00A9C1;
}


.corporate-section .info-tag-box {
    background-color: #00A9C1;

}

@media (max-width: 1024px) {

    .tta-talent-section .container {
        gap: 30px;
    }

    .title {
        font-size: 30px;
    }

    .small-gallery img {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 768px) {

    .tta-talent-section .container {
        flex-direction: column;
        text-align: center;
    }

    .image-wrapper {
        width: 100%;
    }

    .main-img {
        max-width: 90%;
    }

    .info-tag-box {
        width: 100%;
    }

    .small-gallery {
        justify-content: center;
        flex-wrap: wrap;
    }

    .small-gallery img {
        width: 60px;
        height: 60px;
    }

    .title {
        font-size: 26px;
    }

    .description {
        font-size: 14px;
    }

    .blue-bg-shape,
    .blue-bg-shape2 {
        height: 80%;
        width: 95%;
    }
}


/* ------------------------____________________________________------------------------------------ */

.hero-contact {
    position: relative;
    padding-top: 50px;
    padding-bottom: 80px;
    background: linear-gradient(0deg, #004659, #004659),
        linear-gradient(0deg, rgba(0, 31, 61, 0.29), rgba(0, 31, 61, 0.29));
   

}

.hero-overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3%;
    color: white;
    gap: 40px;
}
.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 50px;
    margin-bottom: 20px;

}
.hero-text p {
    max-width: 700px;
    font-size: 18px;
    opacity: 0.9;
}

.hero-dog-img {
    flex: 1;
    max-width: 500px;
    height: auto;
    object-fit: contain;
    margin-bottom: 40px;
}

@media (max-width: 992px) {

    .contact-card-container {
        margin-top: 30px;
    }
    .hero-overlay {
        flex-direction: column;
        text-align: center;
        padding: 40px 5%;
        gap: 30px;
    }
    .hero-text h1 {
        font-size: 38px;
    }
    .hero-text p {
        margin: 0 auto;
        max-width: 90%;
    }
    .hero-dog-img {
        max-width: 70%;
    }
    .contact-card {
        flex-direction: column;
        transform: none; /* FIX: remove risky offset */
    }

    .form-side,
    .info-side {
        padding: 25px;
    }

    .social-buttons-col {
        align-items: center;
    }
     .contact-card {
        flex-direction: column;
        margin-top: 0;
    }

    .form-side,
    .info-side {
        padding: 30px;
    }

    .info-side h3 {
        font-size: 26px;
    }

    .social-buttons-col {
        align-items: center;
    }
}

@media (max-width: 480px) {

    .hero-text h1 {
        font-size: 30px;
    }

    .hero-text p {
        font-size: 15px;
    }

    .hero-dog-img {
        max-width: 85%;
    }

    .hero-submit-btn {
        width: 100%;
        justify-content: center;
    }
     .form-side,
    .info-side {
        padding: 20px;
    }

    .info-side h3 {
        font-size: 22px;
    }

    .hero-submit-btn {
        width: 100%;
        justify-content: center;
    }

    .btn-social img {
        width: 180px;
    }
}

.contact-card-container {
    padding-bottom: 60px;
     position: relative;
    z-index: 10;
}

.contact-card {
    display: flex;
    background: white;
    border-radius: 20px;
    overflow: visible;
    z-index: 20;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    margin-top: -70px; 
}
.hero-contact,
.contact-card-container {
    overflow: visible;
}
.form-side {
    flex: 1.5;
    padding: 40px;
    background: #fdfdfd;
}

.info-side {
    flex: 1;
    padding: 40px;
    background: linear-gradient(180deg, #3ADFFF 0.01%, #1E81A0 35.5%, #001F3D 99.99%);
    color: white;
}

.input-field {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    border-radius: 25px;
    background: #f5f5f5;
    outline: none;
}

.hero-submit-btn {
    background: #004d61;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.info-side h3 {
    font-size: 30px;
    margin-bottom: 30px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}



.social-buttons-col {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

}
.btn-social {
    display: inline-block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.btn-social img {
    width: 250px;
    height: auto;
    display: block;
    border-radius: 40px;

}

/* ----------------------________________________________-------------------------------- */

.profile-hero-section {
    background: linear-gradient(0deg, #067593, #067593),
        linear-gradient(0deg, rgba(0, 31, 61, 0.29), rgba(0, 31, 61, 0.29));
    padding: 60px 0;
    max-height: 300px;
    width: 100%;
}

.profile-grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    z-index: 5;
    margin-top: 0;
     max-width: 1200px;
    margin: auto;
}
 .profile-info-card {
    background: #09A9C8CF;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

}

.profile-in-card {
    padding: 24px 12px;
}

.profile-card {
    background: whitesmoke;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

}

.profile-info-card {
    background-color: #43b3c4;
}

.image-holder {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 15px;
}

.image-holder img {
    width: 100%;
    display: block;
}

.upload-btn-new {
    background-color: #004d61;
    color: white;
    border: none;
    width: 60%;
    padding: 10px;
    margin: -5px auto 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    z-index: 2;

}

.upload-btn-new img {
    width: 16px;
}

.profile-info-card h2 {
    margin-bottom: 10px;
}

.details-section h2 {
    margin-bottom: 20px;
}

.profile-details-main {
    grid-column: 2;
}

.input-grid {
    flex-direction: column;
    display: flex;
    gap: 15px;
}

.input-grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.full-row {
    grid-column: span 2;
}

.phone-group {
    display: flex;
    gap: 5px;
}

.phone-group select {
    width: 35%;
}

input,
select {
    width: 100%;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #c8e6eb;
    background-color: #f5fbfc;
    font-size: 14px;
    outline: none;
    margin-bottom: 10px;
}

.section-header {
    display: flex;
    justify-content: space-between;
}

.details-section,
.upload-section {
    grid-column: span 2;
    width: 100%;
}

.dashed-border-box {
    padding: 20px;
    border-radius: 12px;
}

.dashed-border-box h2 {
    margin-bottom: 20px;
}

.upload-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 15px;
}

.upload-box {
    height: 140px;
    background: white;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
}
.upload-note {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
    text-align: center;
}

.action-footer {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding-top: 20px;
}

.action-footer a {
    color: #666;
    text-decoration: none;
}

.save-btn {
    background: #004d61;
    color: white;
    padding: 12px 40px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 992px) {
    .profile-grid-container {
        grid-template-columns: 1fr; 
        margin-top: -40px; 
        padding: 0 15px;
    }

    .profile-details-main {
        grid-column: 1; 
    }

    .upload-grid {
        grid-template-columns: repeat(2, 1fr); 
    }

    .profile-hero-section {
        max-height: 200px;
    }
}

@media (max-width: 600px) {
    .profile-hero-section {
        padding: 40px 0;
    }

    .input-grid1 {
        grid-template-columns: 1fr; 
    }

    .full-row {
        grid-column: span 1;
    }

    .phone-group {
        flex-direction: column; 
    }

    .phone-group select {
        width: 100%;
    }

    .upload-grid {
        grid-template-columns: 1fr;
    }

    .upload-box {
        height: 100px; 
    }

    .action-footer {
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;
    }

    .save-btn {
        width: 100%; 
        padding: 15px;
    }

    .upload-btn-new {
        width: 100%;
    }
}